@model lab4Final.Models.Prestamo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Prestamo</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenLibro)
        </dt>
        <dd class="col-sm-10">
            <img src="/images/@Model.ImagenLibro" class="img-fluid" style="max-width: 140px; height: 200px; object-fit: cover;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Socio.Nombre} {Model.Socio.Apellido}")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class="col-sm-10">
            @Model.Libro.Titulo
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
