@model lab4Final.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenLibro)
        </dt>
        <dd class="col-sm-10">
            <img src="/images/@Model.ImagenLibro" class="img-fluid" style="max-width: 140px; height: 200px; object-fit: cover;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>
        <dd class="col-sm-10">
            @Model.FechaPrestamo.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class="col-sm-10">
            @(Model.FechaDevolucion?.ToString("dd/MM/yyyy"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socio)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Socio.Nombre} {Model.Socio.Apellido}")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libro.Titulo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
